:root {
    --text-color: #212832;
    --desc-color: #6F727B;
    --title-color: #181E4B;
    --bg-color1: #FEF0DA;
    --bg-color2: #F1A501;
    --bg-color3: #DF6951;

    --main-font-family: 'Poppins';
    --title-font-family: 'Volkhov';
}


main .top_page {
    display: flex;
    justify-content: center;
}

main .top_page .right_part img {
    max-width: 650px;
    width: 100%;
    object-fit: cover;
    user-select: none;

}

main .top_page .left_part {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

main .top_page .left_part p:first-of-type {
    color: var(--bg-color3);
    font-weight: 800;
}

main .top_page .left_part h1 {
    font-size: 4rem;
    color: var(--title-color);
    font-family: var(--title-font-family);
}

main .top_page .left_part h1 span {

    position: relative;
    font-family: inherit;
}

main .top_page .left_part h1 span img {
    z-index: -1;
    position: absolute;
    bottom: 16%;
    right: 50%;
    transform: translateX(60%) scale(.8);

}

main .top_page .left_part p:last-of-type {
    color: var(--desc-color);
    width: 70%;
}

main .top_page .left_part .buttons {
    display: flex;
    gap: 40px;
}

main .top_page .left_part .buttons a {
    padding: 10px;
    background-color: var(--bg-color2);
    color: white;
    border-radius: 10px;
}

main .top_page .left_part .buttons .demo {
    display: flex;
    align-items: center;
}

main .top_page .left_part .buttons .demo button {
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    background-color: var(--bg-color3);
    border: none;
    margin-right: 10px;

    position: relative;

}

main .top_page .left_part .buttons .demo button img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

main .top_page .left_part .buttons .demo span {
    color: var(--desc-color);
}



/* section2*/


section.services {
    padding: 5px;
    height: 700px;
    min-height: fit-content;
    padding-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.services .session_description {
    color: var(--desc-color);
    font-weight: 600;
}

section.services .session_description+h2 {
    font-size: 2.6rem;
    color: var(--title-color);
    font-family: var(--title-font-family);
    margin-bottom: 50px;
}

section.services .service_card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

section.services .service_card_container .service_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 300px;
    background-color: white;
    border-radius: 36px;
    padding: 30px;

    position: relative;
    transition: .125s ease;


    img {
        height: 100px;
        width: 100px;
        margin-bottom: 30px;
    }

    h3 {
        color: var(--title-color);
        text-wrap: nowrap;
    }

    p {
        width: 100%;
        text-align: center;
        color: var(--desc-color);
    }

    .hover {
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: -1;
        transition: inherit;

    }
}

section.services .service_card_container .service_card:hover {

    box-shadow: 0 30px 30px 0px rgba(0, 0, 0, 0.2);

    .hover {
        position: absolute;
        bottom: -50px;
        left: -50px;
        z-index: -1;
    }
}



/* section3*/

section.destinations {

    height: 700px;
    min-height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
}

section.destinations .session_description {
    color: var(--desc-color);
    font-weight: 600;
}

section.destinations .session_description+h2 {
    font-size: 2.6rem;
    color: var(--title-color);
    font-family: var(--title-font-family);
    margin-bottom: 50px;
}

section.destinations .destination_container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    gap: 25px;
    overflow-x: auto;
    padding: 30px 0;
    width: 100%;

}

section.destinations .destination_container .destination_card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;

    background-color: white;

    margin-bottom: 10px;

    border-radius: 10px;
    overflow: hidden;
    transition: all .125s ease-in-out;


    /* box-shadow: 1px 2px 10px 1px rgba(120, 120, 120, 0.4); */
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);

    color: var(--desc-color);


    img {
        height: 60%;
        background-color: var(--bg-color1);
        object-fit: cover;
        flex-shrink: 0;
    }

    .title {
        padding: 10px;
    }

    .price {
        position: absolute;
        top: calc(60% + 10px);
        right: 10px;
    }

    .description {
        width: 100%;

        font-size: 13px;
        font-size: 10px;

        padding: 10px;
        text-align: center;
        overflow: hidden;

    }
}

section.destinations .destination_container .destination_card:hover {
    transform: translateY(-5px);
    color: var(--text-color);
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.3);

}



/* section4*/

section.booking {

    height: 700px;
    min-height: fit-content;
    display: flex;
    justify-content: center;


}

section.booking .session_description {
    color: var(--desc-color);
    font-weight: 600;
}

section.booking .session_description+h2 {
    font-size: 2.6rem;
    color: var(--title-color);
    font-family: var(--title-font-family);
    margin-bottom: 50px;
}

section.booking .left_part {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.booking .left_part h2 {
    font-size: 2.6rem;
    color: var(--title-color);
    font-family: var(--title-font-family);
    margin-bottom: 50px;
}

section.booking .left_part .steps {

    display: flex;
    flex-direction: column;
    gap: 50px;


}

section.booking .left_part .steps .step {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

section.booking .left_part .steps .step p {
    width: 60%;
    font-size: .9rem;
    color: var(--desc-color);
}

section.booking .left_part .steps .step .title {
    font-weight: 800;

}

section.booking .right_part {
    width: 450px;
    position: relative;

}

section.booking .right_part .destination_card {
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    background-color: white;
    color: var(--desc-color);


    overflow: hidden;
    transition: all .125s ease-in-out;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        height: 60%;
        background-color: var(--bg-color1);
        object-fit: cover;
        flex-shrink: 0;
    }

    .title {
        padding: 10px;
    }

    .price {
        position: absolute;
        top: calc(60% + 10px);
        right: 10px;
    }

    .description {
        width: 100%;

        font-size: 13px;
        font-size: 10px;

        padding: 10px;
        text-align: center;
        overflow: hidden;

    }

    &:nth-child(2) {
        top: calc(50% + 70px);
        left: calc(50% + 70px);
    }
}


/* section 5 */

section.comments {

    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    height: 700px;
}

section.comments .session_description {
    color: var(--desc-color);
    font-weight: 600;
}

section.comments .session_description+h2 {
    font-size: 2.6rem;
    color: var(--title-color);
    font-family: var(--title-font-family);
    margin-bottom: 50px;
}


section.comments .comment_container{
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    padding: 50px;
    position: relative;
    color: var(--desc-color);
    box-shadow: 0 50px 80px 0px rgba(0, 0, 0, 0.2);

    transform: translateY(50px);


}

section.comments .comment_container img{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50% , -50%);
}

/* section 6 */

section.brands{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px 0;


}

/* section 7 */

section.subscrition{

    width: 80%;
    height: 400px;
    background-image: url('../svg/index/subscription_bg.svg') ;
    background-size: cover;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 100px;
    position: relative;

}

section.subscrition p{
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #5E6282;
    font-weight: 500;

}

section.subscrition form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: 2;
}

section.subscrition form input{
    height: 60px;
    width: 400px;
    border-radius: 10px ;
    border: none;
    padding: 20px;
}

section.subscrition form button{
    /* height  : fit-content ; */
    height: 60px;
    width: 120px;
    /* padding: 15px; */
    border-radius: 10px;
    border: none;
    background-color: var(--bg-color3);
    color: white;
    cursor: pointer;
}

section.subscrition img{
    position: absolute;
    bottom: 0;

}


#first-img{
    right: 0;
    top: 0;
    fill: red;
}